version https://git-lfs.github.com/spec/v1
oid sha256:010f0db17e93b378b9db40178241ccda4f468de0eff5a137b9eca251d2d9cbd6
size 840
*.unity filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
